{% extends 'master.html' %} {% block content %}
<div class="container-fluid text-bg-dark">
  <div class="col">
    <img class="img-fluid" src="{{myhome.cover.url}}" />
  </div>
</div>
<p class="text-bg-dark">ㅤ</p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2>{{myhome.welcome}}</h2>
          <p class="w-lg-50">{{myhome.text}}</p>
        </div>
      </div>
      <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {% for post in page_obj %}
        <div class="col">
          <div class="card">
            <img
              class="card-img-top w-100 d-block fit-cover"
              style="height: 200px"
              src="{{post.thumbnail.url}}"
            />
            <div class="card-body p-4">
              <p class="text-primary card-text mb-0">{{post.category}}</p>
              <a
                class="link-dark text-decoration-none"
                href="/article/{{ post.id }}"
              >
                <h4>{{post.title}}</h4>
              </a>
              <p>{{post.tanggal}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="pagination mt-3">
    <span class="step-links">
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
      <div class="row mt-2" style="margin-bottom: 20px">
        <div class="col-sm-2 d-flex">
          <a
            class="btn btn-primary"
            type="button"
            href="?page={{ page_obj.paginator.num_pages }}"
            style="color: white; text-decoration: none; margin-right: 20px"
            >last</a
          >
          <a
            class="btn btn-primary"
            type="button"
            href="?page={{ page_obj.next_page_number }}"
            style="color: white; text-decoration: none"
            >Next</a
          >
        </div>
      </div>

      {% endif %} {% if page_obj.has_previous %}
      <div class="row mt-2">
        <div class="col-sm-2 d-flex">
          <a
            class="btn btn-primary"
            type="button"
            href="?page=1"
            style="color: white; text-decoration: none; margin-right: 20px"
            >first</a
          >

          <a
            class="btn btn-primary"
            type="button"
            href="?page={{ page_obj.previous_page_number }}"
            style="color: white; text-decoration: none"
            >previous</a
          >
        </div>
      </div>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %}
